<table class="basic-table" align="center">
 <tr>
  <th>Exchange</th>
  <th>Countries</th>
  <th>Fees</th>
 </tr>

 <tr>
  <td><a href="https://www.coinbase.com/join/53bc38a3b11f6623df000004"> Coinbase</a></td>
  <td>USA</td>
  <td>1.49% - Bank </td>
 </tr>

 <tr>
  <td><a href="https://www.coinmama.com/?ref=buyaltcoinsworldwide">Coinmama</a></td>
  <td>Mostly Everywhere</td>
  <td>5.5% Credit/Debit</td>
 </tr>
 <tr>
  <td><a href="https://changelly.com/?ref_id=4af50f9c87f2">Changelly</a></td>
  <td>Mostly Everywhere</td>
  <td>5% - Credit/Debit </td>
 </tr>
 <tr>
  <td><a href="https://gemini.com">Gemini</a></td>
  <td>US Only</td>
  <td>5% - Credit/Debit </td>
 </tr>

</table>
