
 <h3> Step 1: Buy Bitcoin or Ethereum </h3>

There are several exchanges to buy Bitcoin and Ethereum on.

<a href = "https://www.coinbase.com/join/53bc38a3b11f6623df000004" target="_blank"><b>Coinbase</b></a> is a very beginner friendly US based exchange, that sells cryptocurrency to most countries and all US states. Expect a 1.49% fee on bank transfer purchases, and a 3.99% fee for credit and debit purchases.

<a href = "https://www.coinmama.com/?ref=buyaltcoinsworldwide" target="_blank"><b>Coinmama</b></a> is another option that focuses on credit and debit card purchases. Coinmama is great because they have higher debit and credit card purchasing limits than Coinbase, as well as instant delivery. Coinmama's fees are around 5.5%.

<a href = "https://changelly.com/?ref_id=4af50f9c87f2"><b>Changelly</b></a> is an exchange that also focuses on credit and debit card purchases. Their fees are between 3%-4%.

<img src = "/img/Coinbase3.png" alt = "BuyOnCoinbase" class = "medium-pic">
<img src = "/img/Coinbase2.png" alt = "BuyOnCoinbase" class = "medium-pic">

 <h3>How to Buy Bitcoin on Coinbase </h3>

<p>If you signup to <a href = "https://www.coinbase.com/join/53bc38a3b11f6623df000004">Coinbase</a> through this link, you will recieve an extra $10 worth of Bitcoin on your first $100+ order. </p>


<p>After creating your Coinbase account, you will want to add a payment method. If you are trying to get the most bang out of your buck, I would reccomend using a bank transfer. If time is a concern, maybe go with credit or debit card, as there is instant delivery! </p>

<p>Click the Buy/Sell tab at the top/middle of your screen. From this page, you can easily purchase Bitcoin, Litecoin, and Ethereum. </p>


After hitting Confirm Buy, we are ready to go to the next step! 


<h3> How to Buy Bitcoin on Coinmama </h3>

After your account is verified, you can go to the navigation bar and purchase Bitcoin or Ethereum, using USD or EUR.

<img src = "/img/coinmamatutorial.png" alt = "BuyOnCoinbase" class = "medium-pic">

Send the purchased cryptocurrency to the address of the exchange you decide to use in the next step.
